<div class="container-fluid">


  <!-- ================= Strategic Projection Data Start=================== -->

  <div class="row">
    <div class="col-md-12">
      <div class="boxs_BG mt-5">

        <div class="titleBG"> Value Gap Closer</div>


        <div class="col-md-12 mt-4 strategicProjectionTable">

          <table class="table table-striped">
            <thead>
            <tr class="bg-primary white">
              <th scope="col">#</th>
              <th scope="col">Year</th>
              <th scope="col">Organization Unit Code</th>
              <th scope="col">Organization Unit Name</th>
              <th scope="col">Product Group</th>
              <th scope="col">Revenue Gap</th>
              <th scope="col">Version</th>
              <th scope="col">Scorecard Name</th>
              <th scope="col">Percentage</th>
              <th scope="col">Amount</th>
              <th scope="col">Objectives</th>
              <th scope="col">Initiatives</th>
              <th scope="col"> Action</th>
            </tr>
            </thead>
            <tbody *ngFor="let item of valueGapCloserTableData;let i=index">
            <tr *ngIf="valueGapCloserTableData.length">
              <td scope="row">{{i + 1}}</td>
              <td>{{item.year}}</td>
              <td>{{item.orgCode}}</td>
              <td>{{item.orgName}}</td>
              <td>{{item.productGroupName}}</td>
              <td>{{item.revenueGap}}</td>
              <td>{{item.version}}</td>
              <td>{{item.scorecardCode}}</td>
              <td>{{item.percentage}}</td>
              <td>{{item.amount}}</td>
              <td>{{item.objectiveCode}}</td>
              <td>{{item.initiativeCode}}</td>
              <td><i
                class="fa fa-pencil padding10" style="font-size: 20px;cursor: pointer"
                (click)="editValueGapCloser(valueGapCloserTableData, i)"></i>
                <i class="fa fa-trash padding10" style="font-size: 20px;cursor: pointer"
                   (click)="deleteValueGapCloser(item.id)"></i>
              </td>
            </tr>
            <tr *ngIf="valueGapCloserTableData.length === 0">
              no records found
            </tr>
            </tbody>
          </table>

        </div>


      </div>
    </div>
  </div>

  <!-- ================= Strategic Projection Data End=================== -->


  <!-- ================= SWOT Analysis Start=================== -->
  <form [formGroup]="valueGapCloserForm">
    <div class="row">
      <div class="col-md-7">
        <div class="boxs_BG">

          <div class="titleBG"> Value Gap Closer</div>


          <div class="row">
            <div class="col-md-12">

              <div class="row mt-4">
                <div class="col-md-6 pr-0">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Years <span
                      class="red">*</span></label>
                    <div class="col-sm-7 input_i_icon">
                      <select class="form-control col-form-label-sm" formControlName="year" name="year"
                              (change)="getRevenueGapAmt()">
                        <option selected value="" disabled>Select Year</option>
                        <option *ngFor="let year of years" [value]="year.name">
                          {{ year.name}}
                        </option>
                      </select>

                      <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                  </div>
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code </label>
                    <div class="col-sm-7">
                      <select name="items" placeholder="Parent Organization Unit Code"
                              (change)="getCodeNameForPestal()"
                              formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                        <option selected value="" disabled>Select Unit Code</option>
                        <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                          {{ codeName.code}}
                        </option>
                      </select>
                    </div>
                  </div>
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Product Group <span
                      class="red">*</span></label>
                    <div class="col-sm-7">
                      <select class="form-control col-form-label-sm" formControlName="productGroupName"
                              name="productGroupName">
                        <option selected value="" disabled>Product Group</option>
                        <option *ngFor="let item of prdGrp" [value]="item.name">{{item.name}}</option>
                      </select>
                    </div>
                  </div>

                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Percentage </label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control col-form-label-sm" id="" placeholder="Percentage"
                             formControlName="percentage" name="percentage">
                    </div>
                  </div>

                </div>
                <div class="col-md-6">
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Revenue Gap </label>
                    <div class="col-sm-7">
                      <input type="text" class="form-control col-form-label-sm" id="" placeholder="Revenue Gap"
                             formControlName="revenueGap" name="revenueGap">
                    </div>
                  </div>
                  <div class="form-group row m-0">

                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name </label>
                    <div class="col-sm-7 pr-0">
                      <input type="text" class="form-control col-form-label-sm" formControlName="orgName" name="orgName"
                             readonly>
                    </div>


                  </div>
                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Amount </label>
                    <div class="col-sm-7 pr-0">
                      <input type="text" class="form-control col-form-label-sm" id="" placeholder="Amount"
                             formControlName="amount" name="amount">
                    </div>
                  </div>

                  <div class="form-group row m-0">
                    <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version </label>
                    <div class="col-sm-7 pr-0">
                      <input type="text" class="form-control col-form-label-sm" id="" placeholder="Version"
                             formControlName="version" name="version">
                    </div>
                  </div>


                </div>
              </div>

            </div>

          </div>


        </div>
      </div>
      <div class="col-md-5">
        <div class="boxs_BG">

          <!-- <div class="titleBG"> Values </div> -->


          <div class="row">
            <div class="col-md-12 mt-3">


              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Scorecard Name </label>
                <div class="col-sm-7 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Scorecard Name"
                         formControlName="scorecardCode" name="scorecardCode">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Objectives Name </label>
                <div class="col-sm-7 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Objectives Name"
                         formControlName="objectiveCode" name="objectiveCode">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Initiatives Name </label>
                <div class="col-sm-7 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Initiatives Name"
                         formControlName="initiativeCode" name="initiativeCode">
                </div>
              </div>


            </div>

          </div>

          <div class="row mt-4">
            <div class="col-md-12">
              <div class="float-right">
                <button type="button" class="btn btn-cancel"> Cancel</button>
                <button type="button" class="btn btn-save" (click)="saveValueGapCloser()"> Save</button>
              </div>
            </div>
          </div>

        </div>

      </div>

    </div>
  </form>

  <!-- ================= SWOT Analysis End=================== -->


</div>

