<div class="container-fluid loginBG">
  <div class="row justify-content-md-center">
    <div class="col-md-3 loginFormBg">
      <div class="text-center">
        <img src="../../../assets/images/login_logo.jpg" class="img-fluid" />
      </div>

      <select class="form-control">
        <option>Organization Unit Code</option>
        <option>Organization Unit Code 1</option>
        <option>Organization Unit Code 2</option>
        <option>Organization Unit Code 3</option>
        <option>Organization Unit Code 4</option>
      </select>
      <span class="validationErr"> Please select Organization Unit Code </span>
      <select class="form-control">
        <option>Scorecard Code</option>
        <option>Scorecard Code 1</option>
        <option>Scorecard Code 2</option>
        <option>Scorecard Code 3</option>
        <option>Scorecard Code 4</option>
      </select>
      <span class="validationErr"> Please select Scorecard Code </span>
      <div class="form-group">
        <label for="formGroupExampleInput">User Name</label>
        <div class="loginInputfleds">
          <input type="text" class="form-control" id="" value="abdul shaikh" placeholder="User Name">
          <img src="../../../assets/images/icons/user_icon.png" width="20" height="20" />
        </div>
        <span class="validationErr"> Please enter your user name </span>
      </div>
      <div class="form-group">
        <label for="formGroupExampleInput2">Password</label>
        <div class="loginInputfleds">
          <input type="password" class="form-control" id="" value="abdul shaikh" placeholder="Password">
          <img src="../../../assets/images/icons/password_icon.png" width="16" height="20" />
        </div>
        <span class="validationErr"> Please enter your password </span>
      </div>

      <div class="login_footer">
        <div class="float-left">
          <a > Forgot Password? </a>
        </div>
        <div class="float-right">
          <button type="button" class="btn btn-login" (click)="RedirectToDashboard()">Login</button>
        </div>

      </div>
    </div>
  </div>
</div>
