<div class="container-fluid gryBG">
  <div class="row">
    <div class="col-md-5">

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Organization Structure</div>

        <div class="mt-4 ml-4">


          <div class="row">
            <div id="left" class="span3">
              <ul id="menu-group-1" class="nav menu">
                <li class="item-1 deeper parent active">
                  <a class="minGroupCompany">

                    <span>Group Company</span>
                  </a>
                  <ul class="children" id="sub-item-1" style="">
                    <li class="rightListHover corporateUnit">
                      <a class="hoverArrow">

                        <span>Corporate Unit</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                      </a>
                      <ul class="children">
                        <li class="item-3 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>Corporate Unit Department</span>
                          </a>
                        </li>
                        <li class="item-3 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>Corporate Unit Department</span>
                          </a>
                        </li>
                        <li class="item-3 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>Corporate Unit Department</span>
                          </a>
                        </li>

                      </ul>
                    </li>
                    <li class="rightListHover sbu">
                      <a class="hoverArrow">

                        <span>SBU</span>
                        <span class="float-right"><i class="fa fa-angle-right"></i></span>
                      </a>
                      <ul class="children">
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                        <li class="item-6 mt-0">
                          <a>
                            <span class="sign"><i class="icon-play"></i></span>
                            <span>SBU Department</span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>

          <br/>
          <br/><br/><br/>
          <br/>
          <br/><br/><br/>
          <br/>
          <br/><br/><br/>
          <br/>
        </div>

      </div>
    </div>
    <div class="col-md-7">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Group Company</div>

        <div class="row mt-4">
          <div class="col-md-6 groupCompanyList">

            <div class="row">
              <div class="col-md-6">Organization Unit Code:</div>
              <div class="col-md-6 gCompRightList">G100</div>
            </div>
            <div class="row">
              <div class="col-md-6">Organization Unit Name:</div>
              <div class="col-md-6 gCompRightList">Group Name</div>
            </div>
            <div class="row">
              <div class="col-md-6">Parnet Organization Unit Name:</div>
              <div class="col-md-6 gCompRightList">Parent Group Name</div>
            </div>
            <div class="row">
              <div class="col-md-6">Type of Unit:</div>
              <div class="col-md-6 gCompRightList">Group Name</div>
            </div>
            <div class="row">
              <div class="col-md-6">Head of Organization:</div>
              <div class="col-md-6 gCompRightList">CEO</div>
            </div>
            <div class="row">
              <div class="col-md-6">Number of Employees:</div>
              <div class="col-md-6 gCompRightList">5000 +</div>
            </div>
            <div class="row">
              <div class="col-md-6">Location of Organization Unit:</div>
              <div class="col-md-6 gCompRightList">Ananthapur</div>
            </div>
            <div class="row">
              <div class="col-md-6">Name of the Manager:</div>
              <div class="col-md-6 gCompRightList">Mr. Abdul</div>
            </div>

          </div>
          <div class="col-md-6">
            <div class="text-center">
              <p>Organization Logo </p>
              <img src="../../../assets/images/groupCompanyIcon.png" width="120" height="120"/>
            </div>
          </div>
        </div>

        <div class="row mt-5">

          <div class="col-lg-12 groupCompanyTabs">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">

              <li class="nav-item" *ngFor="let item of missionVisionValues; let i = index"
                  (click)="showTab(item.tab, i)">
                <a class="nav-link show" data-toggle="tab" role="tab" [ngClass]="{'active': i == selectedIndex}"> <i
                  class="fa fa-area-chart"></i> {{item.title}}</a>
              </li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-border">
              <div class="tab-pane active show" id="home" role="tabpanel" *ngIf="isStepOne">
                <p>The Vision statetment and mission statement are often confused, and many companies use the terms
                  interchangeably. However, they each have a different purpose</p>
              </div>
              <div class="tab-pane" id="profile" role="tabpanel" *ngIf="isStepTwo">
                <p>It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                  essentially unchanged. It was popularised in the 1960s with the release </p>
              </div>
              <div class="tab-pane" id="messages" role="tabpanel" *ngIf="isStepThree">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s. </p>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>

  </div>


</div>
