<div class="strategryAnalysis">
  <div class="accordion" id="accordionSTrategryAnalysis">

    <!-- ================= SWOT Analysis Start=================== -->
    <form [formGroup]="strategyAnalysisFrom">
      <div class="strategryAnalysisTbs">
        <div class="row">
          <div class="col-md-12">
            <div class="boxs_BG mt-5">
              <div class="strategryAnalysisTitle" id="sWOTAnalysis">
                <div class="titleBG"> SWOT Analysis</div>
                <i class="fa fa-angle-down collapsed" data-toggle="collapse" data-target="#collapseSWOTAnalysis"></i>
              </div>
              <div id="collapseSWOTAnalysis" class="collapse show" aria-labelledby="sWOTAnalysis"
                   data-parent="#accordionSTrategryAnalysis">

                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8">

                      <div class="row mt-4">
                        <div class="col-md-6 pr-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code
                              <span
                                class="red">*</span></label>
                            <div class="col-sm-7 input_i_icon">
                              <select name="items" placeholder="Parent Organization Unit Code" (change)="getCodeName()"
                                      formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Unit Code</option>
                                <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                                  {{ codeName.code}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                            <div class="col-sm-7">
                              <textarea class="form-control col-form-label-sm" formControlName="description"
                                        name="description"
                                        placeholder="Description"></textarea>
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 1 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 3 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name
                              <span
                                class="red">*</span> </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" readonly
                                     formControlName="orgName" name="orgName"
                                     placeholder="Organization Unit Name">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <select name="items" placeholder="Select Year"
                                      (change)="getStrategyAnalysis($event, 'SWOT')"
                                      formControlName='year' name='year' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Year</option>
                                <option *ngFor="let year of years" [value]="year.name">
                                  {{ year.name}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder="Version"
                                     formControlName="version" name="version">
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 2</label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 4 </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-4 criteriaList">

                          <ul>
                            <li *ngFor="let item of swot; let i = index" (click)="activateClass(i, item.name)"
                                style="cursor: pointer"
                                [class.active]="selectedIndex === i"
                            ><a> {{item.name}}</a>
                              <div class="float-right"><a (click)="isEdit(item.name)"> <i
                                class="fa fa-pencil-square-o"></i></a> <a
                                (click)="add(item.name)">
                                <i class="fa fa-plus"></i></a></div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-8">
                          <!--<textarea placeholder="Enter Strength..." formControlName="details" name="details"-->
                                    <!--[readOnly]="isEditMode"-->
                                    <!--[ngClass]="{'readonlyMode': isEditMode === true }"></textarea>-->
                          <tag-input formControlName="details" name="details"></tag-input>
                          <div class="form-group row m-0">
                            <div class="col-sm-12 pr-0">
                              <!--<div class="float-right">-->
                                <!--<button type="button" class="btn btn-cancel"> Cancel</button>-->
                                <!--<button type="button" class="btn btn-pink" (click)="updateSwotAnalysis()">-->
                                  <!--Save-->
                                <!--</button>-->
                              <!--</div>-->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mt-4">
                      <div class="criteria">
                        <div class="accordion" id="accordionCriteria">
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="strength"><i class="fa fa-angle-down" data-toggle="collapse"
                                                                        data-target="#collapseStrength"></i>
                              <div class="titleBG"> Strength</div>
                            </div>
                            <div id="collapseStrength" class="collapse show" aria-labelledby="strength"
                                 data-parent="#accordionCriteria">
                              <div class="card-body">
                                <p>{{strength}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="weakness"><i class="fa fa-angle-down collapsed"
                                                                        data-toggle="collapse"
                                                                        data-target="#collapseWeakness"></i>
                              <div class="titleBG"> Weakness</div>
                            </div>
                            <div id="collapseWeakness" class="collapse" aria-labelledby="weakness"
                                 data-parent="#accordionCriteria">
                              <div class="card-body">
                                <p>{{weaknesses}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="opportunities"><i class="fa fa-angle-down collapsed"
                                                                             data-toggle="collapse"
                                                                             data-target="#collapseOpportunities"></i>
                              <div class="titleBG"> Opportunities</div>
                            </div>
                            <div id="collapseOpportunities" class="collapse" aria-labelledby="opportunities"
                                 data-parent="#accordionCriteria">
                              <div class="card-body">
                                <p>{{opportunities}}</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="threats"><i class="fa fa-angle-down collapsed"
                                                                       data-toggle="collapse"
                                                                       data-target="#collapseThreats"></i>
                              <div class="titleBG"> Threats</div>
                            </div>
                            <div id="collapseThreats" class="collapse" aria-labelledby="threats"
                                 data-parent="#accordionCriteria">
                              <div class="card-body">
                                <p>{{threats}}</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <button type="button" class="btn btn-cancel"> Cancel</button>
                        <button type="button" class="btn btn-save" (click)="saveStrategiySwotAnalysis('SWOT')"> Save
                        </button>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ================= SWOT Analysis End=================== -->

    <!-- ================= PESTEL Analysis Start=================== -->
    <form [formGroup]="pestalAnalysisFrom">
      <div class="strategryAnalysisTbs">
        <div class="row">
          <div class="col-md-12">
            <div class="boxs_BG">
              <div class="strategryAnalysisTitle" id="pESTELAnalysis">
                <div class="titleBG"> PESTEL Analysis</div>
                <i class="fa fa-angle-down collapsed" data-toggle="collapse" data-target="#collapsePESTELAnalysis"></i>
              </div>
              <div id="collapsePESTELAnalysis" class="collapse" aria-labelledby="pESTELAnalysis"
                   data-parent="#accordionSTrategryAnalysis">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8">

                      <div class="row mt-4">
                        <div class="col-md-6 pr-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                              class="red">*</span></label>
                            <div class="col-sm-7 input_i_icon">
                              <select name="items" placeholder="Parent Organization Unit Code"
                                      (change)="getCodeNameForPestal()"
                                      formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Unit Code</option>
                                <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                                  {{ codeName.code}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                            <div class="col-sm-7">
                              <textarea class="form-control col-form-label-sm" formControlName="description"
                                        name="description"
                                        placeholder="Description"></textarea>
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 1 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 3 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" formControlName="orgName"
                                     readonly
                                     name="orgName"
                                     placeholder="Organization Unit Name">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <select name="items" placeholder="Select Year"
                                      formControlName='year' name='year' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Year</option>
                                <option *ngFor="let year of years" [value]="year.name">
                                  {{ year.name}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <input type="text" class="form-control col-form-label-sm" placeholder="Version"
                                     formControlName="version" name="version"
                              >
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 2</label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 4 </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-4 criteriaList">
                          <ul>
                            <li *ngFor="let item of pestalAnalysis"><a>{{item.name}}</a>
                              <div class="float-right"><a> <i class="fa fa-pencil-square-o"></i></a> <a>
                                <i class="fa fa-plus"></i></a></div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-8 criteriatextarea">
                          <textarea placeholder="Enter Political Analysis..."></textarea>
                          <div class="form-group row m-0">
                            <div class="col-sm-12 pr-0">
                              <div class="float-right">
                                <button type="button" class="btn btn-cancel"> Cancel</button>
                                <button type="button" class="btn btn-pink"> Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4 mt-4">
                      <div class="criteria">
                        <div class="accordion" id="accordionCriteria2">
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="politicalAnalysis"><i class="fa fa-angle-down"
                                                                                 data-toggle="collapse"
                                                                                 data-target="#collapsePoliticalAnalysis"></i>
                              <div class="titleBG"> Political Analysis</div>
                            </div>
                            <div id="collapsePoliticalAnalysis" class="collapse show"
                                 aria-labelledby="politicalAnalysis"
                                 data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="economicAnalysis"><i class="fa fa-angle-down collapsed"
                                                                                data-toggle="collapse"
                                                                                data-target="#collapseEconomicAnalysis"></i>
                              <div class="titleBG"> Economic Analysis</div>
                            </div>
                            <div id="collapseEconomicAnalysis" class="collapse" aria-labelledby="economicAnalysis"
                                 data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="socialAnalysis"><i class="fa fa-angle-down collapsed"
                                                                              data-toggle="collapse"
                                                                              data-target="#collapseSocialAnalysis"></i>
                              <div class="titleBG"> Social Analysis</div>
                            </div>
                            <div id="collapseSocialAnalysis" class="collapse" aria-labelledby="socialAnalysis"
                                 data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="technologicalAnalysis"><i class="fa fa-angle-down collapsed"
                                                                                     data-toggle="collapse"
                                                                                     data-target="#collapseTechnologicalAnalysis"></i>
                              <div class="titleBG"> Technological Analysis</div>
                            </div>
                            <div id="collapseTechnologicalAnalysis" class="collapse"
                                 aria-labelledby="technologicalAnalysis" data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="environmentalAnalysis"><i class="fa fa-angle-down collapsed"
                                                                                     data-toggle="collapse"
                                                                                     data-target="#collapseEnvironmentalAnalysis"></i>
                              <div class="titleBG"> Environmental Analysis</div>
                            </div>
                            <div id="collapseEnvironmentalAnalysis" class="collapse"
                                 aria-labelledby="environmentalAnalysis" data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="legolAnalysis"><i class="fa fa-angle-down collapsed"
                                                                             data-toggle="collapse"
                                                                             data-target="#collapseLegolAnalysis"></i>
                              <div class="titleBG"> Legol Analysis</div>
                            </div>
                            <div id="collapseLegolAnalysis" class="collapse" aria-labelledby="legolAnalysis"
                                 data-parent="#accordionCriteria2">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <button type="button" class="btn btn-cancel"> Cancel</button>
                        <button type="button" class="btn btn-save"> Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ================= PESTEL Analysis End=================== -->

    <!-- ================= Porter's Five Force Analysis Start=================== -->
    <form [formGroup]="portersFiveForceAnalysisFrom">
      <div class="strategryAnalysisTbs">
        <div class="row">
          <div class="col-md-12">
            <div class="boxs_BG">
              <div class="strategryAnalysisTitle" id="portersFiveForceAnalysis">
                <div class="titleBG"> Porter's Five Force Analysis</div>
                <i class="fa fa-angle-down collapsed" data-toggle="collapse"
                   data-target="#collapsePortersFiveForceAnalysis"></i>
              </div>
              <div id="collapsePortersFiveForceAnalysis" class="collapse" aria-labelledby="portersFiveForceAnalysis"
                   data-parent="#accordionSTrategryAnalysis">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row mt-4">
                        <div class="col-md-6 pr-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                              class="red">*</span></label>
                            <div class="col-sm-7 input_i_icon">
                              <select name="items" placeholder="Parent Organization Unit Code"
                                      (change)="getCodeNameForPortersFiveForce()"
                                      formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Unit Code</option>
                                <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                                  {{ codeName.code}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                            <div class="col-sm-7">
                              <textarea class="form-control col-form-label-sm" formControlName="description"
                                        name="description"
                                        placeholder="Description"></textarea>
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 1 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 3 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" formControlName="orgName"
                                     readonly
                                     name="orgName"
                                     placeholder="Organization Unit Name">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <select name="items" placeholder="Select Year"
                                      formControlName='year' name='year' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Year</option>
                                <option *ngFor="let year of years" [value]="year.name">
                                  {{ year.name}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <input type="text" class="form-control col-form-label-sm" placeholder="Version"
                                     formControlName="version" name="version">
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 2</label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 4 </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-4 criteriaList">
                          <ul>
                            <li *ngFor="let item of perterAnalysis"><a>{{item.name}}</a>
                              <div class="float-right"><a> <i class="fa fa-pencil-square-o"></i></a> <a>
                                <i class="fa fa-plus"></i></a></div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-8 criteriatextarea">
                          <textarea placeholder="Enter Supplier Power..."></textarea>
                          <div class="form-group row m-0">
                            <div class="col-sm-12 pr-0">
                              <div class="float-right">
                                <button type="button" class="btn btn-cancel"> Cancel</button>
                                <button type="button" class="btn btn-pink"> Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-4 mt-4">
                      <div class="criteria">
                        <div class="accordion" id="accordionCriteria3">
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="buyerPower"><i class="fa fa-angle-down"
                                                                          data-toggle="collapse"
                                                                          data-target="#collapseBuyerPower"></i>
                              <div class="titleBG"> Buyer Power</div>
                            </div>
                            <div id="collapseBuyerPower" class="collapse" aria-labelledby="buyerPower"
                                 data-parent="#accordionCriteria3">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="supplierPower"><i class="fa fa-angle-down collapsed"
                                                                             data-toggle="collapse"
                                                                             data-target="#collapseSupplierPower"></i>
                              <div class="titleBG"> Supplier Power</div>
                            </div>
                            <div id="collapseSupplierPower" class="collapse" aria-labelledby="supplierPower"
                                 data-parent="#accordionCriteria3">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="competitiveRivalry"><i class="fa fa-angle-down collapsed"
                                                                                  data-toggle="collapse"
                                                                                  data-target="#collapseCompetitiveRivalry"></i>
                              <div class="titleBG"> Competitive Rivalry</div>
                            </div>
                            <div id="collapseCompetitiveRivalry" class="collapse show"
                                 aria-labelledby="competitiveRivalry" data-parent="#accordionCriteria3">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="threatsOfSubstitution"><i class="fa fa-angle-down collapsed"
                                                                                     data-toggle="collapse"
                                                                                     data-target="#collapseThreatsOfSubstitution"></i>
                              <div class="titleBG"> Threats Of Substitution</div>
                            </div>
                            <div id="collapseThreatsOfSubstitution" class="collapse"
                                 aria-labelledby="threatsOfSubstitution" data-parent="#accordionCriteria3">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="threatsOfNewEntry"><i class="fa fa-angle-down collapsed"
                                                                                 data-toggle="collapse"
                                                                                 data-target="#collapseThreatsOfNewEntry"></i>
                              <div class="titleBG"> Threats of New Entry</div>
                            </div>
                            <div id="collapseThreatsOfNewEntry" class="collapse" aria-labelledby="threatsOfNewEntry"
                                 data-parent="#accordionCriteria3">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <button type="button" class="btn btn-cancel"> Cancel</button>
                        <button type="button" class="btn btn-save"> Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <!-- ================= Porter's Five Force Analysis End=================== -->

    <!-- ================= Four Corner's Analysis Start=================== -->
    <form [formGroup]="fourCornerAnalysisFrom">
      <div class="strategryAnalysisTbs">
        <div class="row">
          <div class="col-md-12">
            <div class="boxs_BG">
              <div class="strategryAnalysisTitle" id="fourCornersAnalysis">
                <div class="titleBG"> Four Corner's Analysis</div>
                <i class="fa fa-angle-down collapsed" data-toggle="collapse"
                   data-target="#collapseFourCornersAnalysis"></i>
              </div>
              <div id="collapseFourCornersAnalysis" class="collapse" aria-labelledby="fourCornersAnalysis"
                   data-parent="#accordionSTrategryAnalysis">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-8">
                      <div class="row mt-4">
                        <div class="col-md-6 pr-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                              class="red">*</span></label>
                            <div class="col-sm-7 input_i_icon">
                              <select name="items" placeholder="Parent Organization Unit Code"
                                      (change)="getCodeNameForFiveCorner()"
                                      formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Unit Code</option>
                                <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                                  {{ codeName.code}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Description </label>
                            <div class="col-sm-7">
                              <textarea class="form-control col-form-label-sm" formControlName="description"
                                        name="description"
                                        placeholder="Description"></textarea>
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 1 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Info 3 </label>
                            <div class="col-sm-7">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                        </div>
                        <div class="col-md-6 p-0">
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" formControlName="orgName"
                                     name="orgName"
                                     placeholder="Organization Unit Name">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Year <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <select name="items" placeholder="Select Year"
                                      formControlName='year' name='year' class="form-control col-form-label-sm">
                                <option selected value="" disabled>Select Year</option>
                                <option *ngFor="let year of years" [value]="year.name">
                                  {{ year.name}}
                                </option>
                              </select>
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version <span
                              class="red">*</span> </label>
                            <div class="col-sm-7 input_i_icon pr-0">
                              <input type="text" class="form-control col-form-label-sm" placeholder="Version"
                                     formControlName="version" name="version">
                              <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 2</label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>
                          <div class="form-group row m-0">
                            <label for="" class="col-sm-5 col-form-label col-form-label-sm red"> Info 4 </label>
                            <div class="col-sm-7 pr-0">
                              <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                            </div>
                          </div>

                        </div>
                      </div>
                      <div class="row mt-4">
                        <div class="col-md-4 criteriaList">
                          <ul>

                            <li *ngFor="let item of fourCornerAnalysis"><a> {{item.name}}</a>
                              <div class="float-right"><a> <i class="fa fa-pencil-square-o"></i></a> <a>
                                <i class="fa fa-plus"></i></a></div>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-8 criteriatextarea">
                          <textarea placeholder="Enter Supplier Power..."></textarea>
                          <div class="form-group row m-0">
                            <div class="col-sm-12 pr-0">
                              <div class="float-right">
                                <button type="button" class="btn btn-cancel"> Cancel</button>
                                <button type="button" class="btn btn-pink"> Save</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="col-md-4 mt-4">
                      <div class="criteria">
                        <div class="accordion" id="accordionCriteria4">

                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="drivers"><i class="fa fa-angle-down collapsed"
                                                                       data-toggle="collapse"
                                                                       data-target="#collapseDrivers"></i>
                              <div class="titleBG"> Drivers</div>
                            </div>
                            <div id="collapseDrivers" class="collapse" aria-labelledby="drivers"
                                 data-parent="#accordionCriteria4">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="currentStrategy"><i class="fa fa-angle-down collapsed"
                                                                               data-toggle="collapse"
                                                                               data-target="#collapseCurrentStrategy"></i>
                              <div class="titleBG"> Current Strategy</div>
                            </div>
                            <div id="collapseCurrentStrategy" class="collapse show" aria-labelledby="currentStrategy"
                                 data-parent="#accordionCriteria4">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="managementAssumptions"><i class="fa fa-angle-down collapsed"
                                                                                     data-toggle="collapse"
                                                                                     data-target="#collapseManagementAssumptions"></i>
                              <div class="titleBG"> Management Assumptions</div>
                            </div>
                            <div id="collapseManagementAssumptions" class="collapse"
                                 aria-labelledby="managementAssumptions" data-parent="#accordionCriteria4">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>
                          <div class="criteriaTbs">
                            <div class="criteriaTitle" id="capabilities"><i class="fa fa-angle-down collapsed"
                                                                            data-toggle="collapse"
                                                                            data-target="#collapseCapabilities"></i>
                              <div class="titleBG"> Capabilities</div>
                            </div>
                            <div id="collapseCapabilities" class="collapse" aria-labelledby="capabilities"
                                 data-parent="#accordionCriteria4">
                              <div class="card-body">
                                <p>It has survived not only five centuries, but also the leap into electronic
                                  typesetting,
                                  remaining essentially unchanged.</p>
                              </div>
                            </div>
                          </div>

                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="float-right">
                        <button type="button" class="btn btn-cancel"> Cancel</button>
                        <button type="button" class="btn btn-save"> Save</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </form>
    <!-- ================= Four Corner's Analysis End=================== -->

  </div>


</div>
