<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Objectives </div>
        <form>
          <div class="row mt-4">
            <div class="col-md-6">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Organization Unit Code<span class="red">*</span></label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Unit Code</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                  <img src="img/icons/input_i_icon.png" width="12" height="12" /> </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Scorecard Code </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Unit Code</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Objective Code <span class="red">*</span></label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <img src="img/icons/input_i_icon.png" width="12" height="12" />
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Objective Code">
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Organization Unit Name </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Organization Unit Name">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Scorecard Name </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Scorecard Name">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Objective Name </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Objective Name">
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group row m-0">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Descripation </label>
                <div class="col-sm-9 pr-0 pl-8">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Description"></textarea>
                </div>
              </div>
            </div>


            <div class="col-md-6">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Perspective </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Perspective</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                  <img src="img/icons/input_i_icon.png" width="12" height="12" />
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Reporting Frequency </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Reporting Frequency</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Owner </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Owner</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Attachments </label>
                <div class="col-sm-6 pr-0">
                  <div class="custom-file">
                    <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                    <label class="custom-file-label" for="customFileLang">Upload..</label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Theme </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Theme</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                  <img src="img/icons/input_i_icon.png" width="12" height="12" />
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Collaborators </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Collaborators</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Unmapped Objectives </label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select class="form-control col-form-label-sm">
                    <option>Select Unmapped Objectives</option>
                    <option>2343</option>
                    <option>5464</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="col-md-12">
              <div class="form-group row m-0">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Analysis </label>
                <div class="col-sm-9 pr-0 pl-8">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Analysis"></textarea>
                </div>
              </div>
            </div>

            <div class="col-md-12">



              <div class="form-group row m-0">
                <label for="" class="col-sm-3 col-form-label col-form-label-sm">Recommendations </label>
                <div class="col-sm-9 pr-0 pl-8">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Recommendations"></textarea>
                </div>
              </div>

            </div>

            <div class="col-md-6">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm red">Info 1</label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm red">Info 3 </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                </div>
              </div>

            </div>

            <div class="col-md-6">


              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm red">Info 2</label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm red">Info 4 </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder=" ">
                </div>
              </div>

            </div>

          </div>


          <div class="row mt-4">
            <div class="col-md-12">
              <div class="float-right">
                <button type="button" class="btn btn-cancel"> Cancel </button>
                <button  type="button" class="btn btn-save"> Save </button>
              </div>
            </div>
          </div>

        </form>
      </div>


    </div>


    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> G100: Group Company </div>

        <div class="row mt-4">
          <div class="col-md-12">
            <div class="perapectivesRightTitle">
              <span> S1: BSC </span>
            </div>
          </div>
        </div>

        <div class="row mt-4">

          <div class="col-md-6 offset-md-2">
            <div class="objectBSC">
              <div class="objectTbsaccordion" id="accordionObjectTbs">

                <!-- =================== -->
                <div class="objectTbs">

                  <div class="perapectivesBSCNames" id="financial"> Financial  <i class="fa fa-angle-down" data-toggle="collapse" data-target="#collapseFinancial"></i></div>

                  <div id="collapseFinancial" class="collapse show" aria-labelledby="financial" data-parent="#accordionObjectTbs">
                    <div class="card-body">
                      <div class="perapectivesBSCNames"> Revenue Growth <div class="perapectivesBSCNamesHover"> <i class="fa fa-pencil-square-o" ></i> <i class="fa fa-trash" ></i></div>

                      </div>


                    </div>
                  </div>

                </div>


                <!-- =================== -->


                <div class="objectTbs">

                  <div class="perapectivesBSCNames" id="customer"> Customer  <i class="fa fa-angle-down" data-toggle="collapse" data-target="#collapseCustomer"></i></div>

                  <div id="collapseCustomer" class="collapse" aria-labelledby="customer" data-parent="#accordionObjectTbs">
                    <div class="card-body">
                      <div class="perapectivesBSCNames"> Price <div class="perapectivesBSCNamesHover"> <i class="fa fa-pencil-square-o" ></i> <i class="fa fa-trash" ></i></div>

                      </div>

                    </div>
                  </div>

                </div>


                <!-- =================== -->

                <div class="objectTbs">

                  <div class="perapectivesBSCNames" id="internalPerspectives"> Internal Perspectives  <i class="fa fa-angle-down" data-toggle="collapse" data-target="#collapseInternalPerspectives"></i></div>

                  <div id="collapseInternalPerspectives" class="collapse" aria-labelledby="internalPerspectives" data-parent="#accordionObjectTbs">
                    <div class="card-body">
                      <div class="perapectivesBSCNames"> Internal Perspectives22 <div class="perapectivesBSCNamesHover"> <i class="fa fa-pencil-square-o" ></i> <i class="fa fa-trash" ></i></div>

                      </div>

                    </div>
                  </div>

                </div>


                <!-- =================== -->


                <div class="objectTbs">

                  <div class="perapectivesBSCNames" id="learingGrowth"> Learing & Growth  <i class="fa fa-angle-down" data-toggle="collapse" data-target="#collapseLearingGrowth"></i></div>

                  <div id="collapseLearingGrowth" class="collapse" aria-labelledby="learingGrowth" data-parent="#accordionObjectTbs">
                    <div class="card-body">
                      <div class="perapectivesBSCNames"> Learing & Growth22 <div class="perapectivesBSCNamesHover"> <i class="fa fa-pencil-square-o" ></i> <i class="fa fa-trash" ></i></div>

                      </div>

                    </div>
                  </div>

                </div>


                <!-- =================== -->



              </div>
            </div>


          </div>



        </div>

      </div>
    </div>
  </div>

</div>
