<div class="container-fluid gryBG">
  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Balanced Scorecard</div>
        <form [formGroup]="bscForm">
          <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Organization Unit Code <span
                  class="red">*</span></label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <select name="items" placeholder="Parent Organization Unit Code"
                          (change)="getCodeNameForPestal()"
                          formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                    <option selected value="" disabled>Select Unit Code</option>
                    <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                      {{ codeName.code}}
                    </option>
                  </select>
                  <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Organization Unit Name </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" formControlName="orgName" name="orgName"
                         readonly
                         placeholder="Organization Unit Name"></div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Scorecard Code <span
                  class="red">*</span></label>
                <div class="col-sm-6 input_i_icon pr-0">
                  <img src="img/icons/input_i_icon.png" width="12" height="12"/>
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Scorecard Code"
                         formControlName="code" name="code">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Scorecard Name </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Scorecard Name"
                         formControlName="name" name="name">
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Descripation </label>
                <div class="col-sm-6 pr-0">
                  <textarea class="form-control col-form-label-sm" id="" placeholder="Description"
                            formControlName="discription" name="discription"></textarea>
                </div>
              </div>
              <div class="form-group row m-0">
                <label for="" class="col-sm-6 col-form-label col-form-label-sm">Tag </label>
                <div class="col-sm-6 pr-0">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Tag"
                         formcontrolname="tag" name="tag">
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-10 offset-md-1">
              <div class="float-right">
                <button type="button" class="btn btn-cancel"> Cancel</button>
                <button type="button" class="btn btn-save" (click)="saveBalanceScoreCard()"> Save</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <!-- <div class="titleBG"> Group Company </div> -->

        <div class="row mt-4 balancedScorecardRadios">

          <div class="col-md-8 offset-md-2">
            <div class="custom-control custom-radio" *ngFor="let item of projType">
              <label for="enum_answer_{{item.name}}">
                <input id="enum_answer_{{item.name}}" [value]='item.option' (change)="projectType(item.option)"
                       type="radio" name="enums">
                {{item.name}}
              </label>
            </div>
          </div>

          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>
          <br/>


        </div>
      </div>
    </div>
  </div>
</div>
