<div class="container-fluid">
  <div class="row">
    <nav class="col-md-2 pFix d-none d-md-block sidebar p-0 text-center">
      <div class="sidebar-sticky">

        <div class="logoBG">
          <img src="../../assets/images/D_logo.png" class="" width="130" height="30"/>
        </div>

        <div class="tabLine">
				<span>
					STRATEGY EXECUTION SYSTEM
				</span>
        </div>
        <div class="left_Icon">
          <img src="../../assets/images/left_Icon.png" width="102" height="85"/>
        </div>
        <div class="left_blockQuote">


          <p class="wp-block-quote">
            <img src="../../../assets/images/lock-quote.jpg" class="img-fluid"/> <br/> Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Nunc semper massa elit, et facilisis turpis facilisis vel. Nunc dapibus lorem
            et porttitor congue. Mauris lacinia, erat in placerat accumsan, magna augue porta quam, ut aliquam nibh mi
            vitae neque.</p>


        </div>

      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 p-0">
      <nav class="navbar navbar-dark sticky-top topMenuBG flex-md-nowrap p-0 right_menu">
        <a class="navbar-brand col-sm-4 col-md-3 mr-0 px-4">Balance Scorecard</a>
        <ul class="navbar-nav">
          <li class="nav-item text-nowrap">

            <div class="form-group float-left mr-md-4 mt-md-1 m-0">
              <select class="form-control form-control-sm" id="exampleFormControlSelect1">
                <option>Untiles 1</option>
                <option>Untiles 2</option>
                <option>Untiles 3</option>
                <option>Untiles 4</option>
                <option>Untiles 5</option>
              </select>
            </div>

            <a class=" "><img src="../../assets/images/icons/reload_Icon.png" width="24" height="19"/></a>
            <a class=" "><img src="../../assets/images/icons/list_icon.png" width="17" height="20"/></a>
            <a class=" "><img src="../../assets/images/icons/tag_Icon.png" width="12" height="20"/></a>
            <a class=" "><img src="../../assets/images/icons/home.png" width="21" height="19"/></a>
            <a class="mr-md-5"><img src="../../assets/images/icons/star.png" width="20" height="20"/></a>

            <a class=" "><img src="../../assets/images/icons/settings.png" width="21" height="21"/></a>
            <a class=" "><img src="../../assets/images/icons/question-fill.png" width="22" height="22"/></a>
            <a class=" "><img src="../../assets/images/icons/user_male.png" width="40" height="40"/></a>
          </li>
        </ul>

      </nav>

      <div class="col-md-12 inSideBG">
        <div class="row dashboard_menus m-0">
          <div id="dashMenus" class="col-xl-1 col-lg-3 col-md-2 col-sm-3 run-animation" *ngFor="let item of strategyCards">
            <a [routerLink]="[item.link]">
              <img src="../../assets/images/icons/strategy.png" width="40" height="35"/>
              <p>{{item.name}}</p>
            </a>
          </div>
        </div>
        <div class="row btmBoxs">
          <div class="col-md-6">
            <div class="innerBtmBoxs">
              <div class="dashTitle"><h4>Key goals</h4></div>
              <div class="keyGoalsLines">
                <ul class="list-unstyled">
                  <li class="media">
                    <img src="../../assets/images/icons/Key_goals_left_icon.png" width="12" height="15"/>
                    <div class="media-body">
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing eli quisque vitae</p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="../../assets/images/icons/Key_goals_left_icon.png" width="12" height="15"/>
                    <div class="media-body">
                      <p>Nam condimentum metus non velit laoreet, eget efficitr lacus interdum.</p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="../../../assets/imgages/icons/Key_goals_left_icon.png" width="12" height="15"/>
                    <div class="media-body">
                      <p>Vivamus commodo, ex vitae bibendum convallis, felis turpis euismod lectus</p>
                    </div>
                  </li>
                  <li class="media">
                    <img src="../../assets/images/icons/Key_goals_left_icon.png" width="12" height="15"/>
                    <div class="media-body">
                      <p>Phasellus vel elementum urna. Pellentesque sed arcu dui accumsan</p>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="innerBtmBoxs">
              <div class="dashTitle"><h4>Financial growth</h4></div>
              <div class="">
                <div id="bar-chart"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footerBG">
        <p class="float-left mt-2 mr-4">Quick links :</p>
        <div class="row">
          <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks cursor-pointer" *ngFor="let link of footerLinks">
            <a>{{link.name}}</a>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>
