<nav class="navbar navbar-dark sticky-top topMenuBG flex-md-nowrap p-0 right_menu">
  <a class="navbar-brand col-sm-4 col-md-3 mr-0 px-4">Balance Scorecard</a>
  <ul class="navbar-nav">
    <li class="nav-item text-nowrap">

      <div class="form-group float-left mr-md-4 mt-md-1 m-0">
        <select class="form-control form-control-sm" id="exampleFormControlSelect1">
          <option>Untiles 1</option>
          <option>Untiles 2</option>
          <option>Untiles 3</option>
          <option>Untiles 4</option>
          <option>Untiles 5</option>
        </select>
      </div>

      <a class=" "><img src="../../../../assets/images/icons/reload_Icon.png" width="24" height="19"/></a>
      <a class=" "><img src="../../../../assets/images/icons/list_icon.png" width="17" height="20"/></a>
      <a class=" "><img src="../../../../assets/images/icons/tag_Icon.png" width="12" height="20"/></a>
      <a class=" "><img src="../../../../assets/images/icons/home.png" width="21" height="19"/></a>
      <a class="mr-md-5"><img src="../../../../assets/images/icons/star.png" width="20" height="20"/></a>

      <a class=" "><img src="../../../../assets/images/icons/settings.png" width="21" height="21"/></a>
      <a class=" "><img src="../../../../assets/images/icons/question-fill.png" width="22" height="22"/></a>
      <a class=" "><img src="../../../../assets/images/icons/user_male.png" width="40" height="40"/></a>
    </li>
  </ul>

</nav>
