<div class="container-fluid gryBG">
  <form>
  <div class="row">
    <div class="col-md-6">

      <div class="boxs_BG mt-5">
        <div class="titleBG"> Organization Structure</div>


        <div class="row mt-4">
          <div class="col-md-6 pr-0">
            <div class="form-group row m-0">

                <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                  class="red">*</span></label>
                <div class="col-sm-7 input_i_icon">
                  <input type="text" class="form-control col-form-label-sm" id="" placeholder="Organization Unit Code" name="code" [(ngModel)]="corporateStructure.code">
                  <img src="../../../../assets/images/icons/input_i_icon.png" width="12" height="12"/>
                </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Parent Organization Unit Code </label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id=""
                       placeholder="Parent Organization Unit Code" name="parentCode" [(ngModel)]="corporateStructure.parentCode">
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Name of the Manager </label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Name of the Manager " name="managerName"
                       [(ngModel)]="corporateStructure.managerName">
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">No of Employees </label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="No of Employees " name="empCount"
                       [(ngModel)]="corporateStructure.employeeCount">
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Logo</label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Logo" name="logo"
                       [(ngModel)]="corporateStructure.logoUrl">
              </div>
            </div>
          </div>
          <div class="col-md-6 pl-0">
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name <span
                class="red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Organization Unit Name" name="parentName"
                       [(ngModel)]="corporateStructure.parentName">
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Type of Unit <span
                class="red">*</span></label>
              <div class="col-sm-7 input_i_icon">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Type of Unit" name="type"
                       [(ngModel)]="corporateStructure.type">
                <img src="../../../../assets/images/icons/input_i_icon.png" width="12" height="12"/>
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Location <span
                class="red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Location" name="location"
                       [(ngModel)]="corporateStructure.location">
              </div>
            </div>

            <div class="form-group row m-0">
              <label for="" class="col-sm-5 col-form-label col-form-label-sm">Head of Organization <span
                class="red">*</span></label>
              <div class="col-sm-7">
                <input type="text" class="form-control col-form-label-sm" id="" placeholder="Head of Organization" name="head"
                       [(ngModel)]="corporateStructure.head">
              </div>
            </div>
            <div class="form-group row m-0">
              <label for="" class="col-sm-4 col-form-label col-form-label-sm"> </label>
              <div class="col-sm-8">
                <button type="button" class="btn btn-cancel"> Cancel</button>
                <button type="button" class="btn btn-save"> Save</button>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
    <div class="col-md-6">
      <div class="boxs_BG mt-5">
        <div class="titleBG"> Mission</div>
        <span>
          <i class="fa fa-save pull-right" style="padding: 10px;cursor: pointer" (click)="saveMissionText()"></i>
          <i class="fa fa-edit pull-right" style="padding: 10px;cursor: pointer" (click)="editMissionText()"></i>
        </span>
        <div class="mt-4">

          <div class="col-md-12 mvv_textarea mt-1">
            <textarea placeholder="Enter your mission..." [(ngModel)]="corporateStructure.missionStmt" [readOnly]="!editMission" name="mission"
                      [ngStyle]="{'background-color':!editMission === false ? 'white' : ''}"></textarea>
          </div>
          <div class="col-md-12 mvv_textarea mt-1">
            <textarea placeholder="Enter your mission..."></textarea>
          </div>
        </div>

      </div>
    </div>

  </div>

  <div class="row">

    <div class="col-md-6">
      <div class="boxs_BG">
        <div class="titleBG"> Vission</div>
        <span>
          <i class="fa fa-save pull-right" style="padding: 10px;cursor: pointer" (click)="saveVisionText()"></i>
          <i class="fa fa-edit pull-right" style="padding: 10px;cursor: pointer" (click)="editVisionText()"></i>
        </span>
        <div class="mt-4">
          <div class="col-md-12 mvv_textarea mt-1">
           <textarea placeholder="Enter your vision..." [(ngModel)]="corporateStructure.visionStmt" [readOnly]="!editVision" name="vision"
                     [ngStyle]="{'background-color':!editVision === false ? 'white' : ''}"></textarea>

          </div>
          <div class="col-md-12 mvv_textarea mt-1">
            <textarea placeholder="Enter your vission..."></textarea>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-6">
      <div class="boxs_BG">
        <div class="titleBG"> Values</div>
        <span>
          <i class="fa fa-save pull-right" style="padding: 10px;cursor: pointer" (click)="saveValueText()"></i>
          <i class="fa fa-edit pull-right" style="padding: 10px;cursor: pointer" (click)="editValueText()"></i>
        </span>
        <div class="mt-4">
          <div class="col-md-12 mvv_textarea mt-1">
              <textarea placeholder="Enter your value..." [(ngModel)]="corporateStructure.valuesStmt" [readOnly]="!editValue" name="value"
                        [ngStyle]="{'background-color':!editValue === false ? 'white' : ''}"></textarea>

          </div>
          <div class="col-md-12 mvv_textarea mt-1">
            <textarea placeholder="Enter your values..."></textarea>
          </div>
        </div>
      </div>
    </div>

  </div>

  </form>
</div>

<div class="row summary_View">

  <div class="col-md-6">
    <div class="float-left">
      <button class="btn btn-pink"><i class="fa fa-eye"></i> Summary View</button>
    </div>
  </div>
  <div class="col-md-6">
    <div class="float-right">
      <button type="button" class="btn btn-cancel"> Cancel</button>
      <button type="button" class="btn btn-save" (click)="submitOrganization()"> Save</button>
    </div>
  </div>


</div>

<div class="row overviewFooterBG">


  <div class="col-lg-10 col-md-10 m-auto">


    <p class="float-left mt-3 mr-4">Quick links :</p>
    <div class="row">
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Objective Story</a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Theme Story</a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Initiative Status</a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Dashboards</a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Action items</a>
      </div>
      <div class="col-xl-2 col-lg-3 col-md-3 col-sm-4 quickLinks">
        <a href="">Progress reports</a>
      </div>

    </div>


  </div>


</div>
