<div class="row">
  <div class="col-md-12">
    <div class="boxs_BG mt-5">

      <div class="titleBG"> Value Gap</div>


      <div class="col-md-12 mt-4 strategicProjectionTable">

        <table class="table table-striped">
          <thead>
          <tr class="bg-primary white">
            <th scope="col" rowspan="2">#</th>
            <th scope="col" rowspan="2">Organization Unit Code</th>
            <th scope="col" rowspan="2">Organization Unit Name</th>
            <th scope="col" rowspan="2">Year</th>
            <th scope="col" rowspan="2">Version</th>
            <th scope="col" rowspan="2">Region</th>
            <th scope="col" rowspan="2">Currency Unit</th>
            <th scope="col" rowspan="2">Product group</th>
            <th scope="col" rowspan="2">Unit of Measure</th>
            <th scope="col" colspan="2">Y -5</th>
            <th scope="col" colspan="2">Y -4</th>
            <th scope="col" colspan="2">Y -3</th>
            <th scope="col" colspan="2">Y -2</th>
            <th scope="col" colspan="2">Y -1</th>
            <th scope="col" colspan="2">Y</th>
            <th scope="col" colspan="2">Y +1</th>
            <th scope="col" colspan="2">Y +2</th>
            <th scope="col" colspan="2">Y +3</th>
            <th scope="col" colspan="2">Y +4</th>
            <th scope="col" colspan="2">Y +5</th>
            <th scope="col" rowspan="2"> Action</th>
          </tr>
          <tr class="bg-primary white">
            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>

            <th scope="col">Revenue Amount (in $)</th>
            <th scope="col">Product Group (Value Gap)</th>
          </tr>

          </thead>
          <tbody>
          <tr>
            <td scope="row">1</td>
            <td>352</td>
            <td>Corporate</td>
            <td>2019</td>
            <td>2.2</td>
            <td>$</td>
            <td>M^2</td>
            <td>India</td>
            <td>Product Group1</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td>60^2*1000</td>
            <td>10000$</td>
            <td><span class="btn btn-pink btn-sm"> <i class="fa fa-pencil"></i> <i class="fa fa-trash"></i> </span></td>
          </tr>
          </tbody>
        </table>

      </div>

      <!--<div class="row">-->
      <!--<div class="col-md-12 mt-3">-->
      <!--<div class="float-right">-->
      <!--<button type="button" class="btn btn-cancel"> Cancel</button>-->
      <!--<button type="button" class="btn btn-save"> Save</button>-->
      <!--</div>-->
      <!--</div>-->
      <!--</div>-->
    </div>
  </div>
</div>

<!-- ================= Strategic Projection Data End=================== -->


<!-- ================= SWOT Analysis Start=================== -->
<form [formGroup]="valueGapForm">
  <div class="row">
    <div class="col-md-6">
      <div class="boxs_BG">

        <div class="titleBG"> Value Gap</div>


        <div class="row">
          <div class="col-md-12">
            <div class="row mt-4">
              <div class="col-md-6 pr-0">
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                    class="red">*</span></label>
                  <div class="col-sm-7 input_i_icon">
                    <select name="items" placeholder="Parent Organization Unit Code"
                            (change)="getCodeNameForPestal()"
                            formControlName='orgCode' name='orgCode' class="form-control col-form-label-sm">
                      <option selected value="" disabled>Select Unit Code</option>
                      <option *ngFor="let codeName of codeAndName" [value]="codeName.code">
                        {{ codeName.code}}
                      </option>
                    </select>
                    <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                </div>
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Region <span
                    class="red">*</span></label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control col-form-label-sm" formControlName="region" name="region"
                           placeholder="Region">
                  </div>
                </div>
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Product Group <span
                    class="red">*</span></label>
                  <div class="col-sm-7">
                    <select class="form-control col-form-label-sm" formControlName="productGroupName"
                            name="productGroupName">
                      <option selected value="" disabled>Product Group</option>
                      <option>2343</option>
                      <option>5464</option>
                    </select>
                  </div>
                </div>

                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Version </label>
                  <div class="col-sm-7">
                    <input type="text" class="form-control col-form-label-sm" id="" placeholder="Version"
                           formControlName="version" name="version">
                  </div>
                </div>

              </div>
              <div class="col-md-6 ">
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Name </label>
                  <div class="col-sm-7 pr-0">
                    <input type="text" class="form-control col-form-label-sm" formControlName="orgName" name="orgName"
                           readonly
                           placeholder="Organization Unit Name">
                  </div>
                </div>
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Currency Unit </label>
                  <div class="col-sm-7 pr-0">
                    <select class="form-control col-form-label-sm" formControlName="currencyType" name="currencyType">
                      <option selected value="" disabled>Select curreny Unit</option>
                      <option *ngFor="let unit of currenctUnit" [value]="unit.type">
                        {{ unit.type}}
                      </option>
                    </select>
                  </div>
                </div>
                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Unit Of Measure </label>
                  <div class="col-sm-7 pr-0">
                    <input type="text" class="form-control col-form-label-sm" id="" placeholder="Unit Of Measure"
                           formControlName="productGroupUnitOfMeasure" name="productGroupUnitOfMeasure">
                  </div>
                </div>

                <div class="form-group row m-0">
                  <label for="" class="col-sm-5 col-form-label col-form-label-sm">Current Year <span
                    class="red">*</span> </label>
                  <div class="col-sm-7 pr-0">
                    <select class="form-control col-form-label-sm" formControlName="year" name="year">
                      <option selected value="" disabled>Select Year</option>
                      <option>2019</option>
                      <option>2018</option>
                    </select>
                  </div>
                </div>


              </div>
            </div>

          </div>

        </div>


      </div>
    </div>
    <div class="col-md-6">
      <div class="boxs_BG">

        <div class="titleBG"> Values</div>


        <div class="row">
          <div class="col-md-12">


            <div class="row mt-4">
              <div class="col-md-4">
                <div class="valuesBg"><p> Years </p></div>
              </div>
              <div class="col-md-4">
                <div class="valuesBg"><p> Revenue Amount </p></div>
              </div>
              <div class="col-md-4">
                <div class="valuesBg"><p> Revenue Gap </p></div>
              </div>
            </div>

            <div class="row" formArrayName="values"
                 *ngFor="let cd of valueGapForm.controls.values.controls;let i=index">
              <div class="col-md-4">
                <div class="valuesBg"><p> {{cd.get('yearRef').value}} </p></div>
              </div>
              <ng-container formGroupName={{i}}>
                <div class="col-md-4"><input type="text" class="form-control col-form-label-sm" formControlName="revenueGap" name="revenueGap" placeholder=" ">
                </div>
                <div class="col-md-4"><input type="text" class="form-control col-form-label-sm" formControlName="revenueAmount" name="revenueAmount" placeholder=" ">
                </div>
              </ng-container>
            </div>
          </div>
          <div class="row mt-4">
            <div class="col-md-12">
              <div class="float-right">
                <button type="button" class="btn btn-cancel"> Cancel</button>
                <button type="button" class="btn btn-save" (click)="saveValueGap()"> Save</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
