<div class="container-fluid gryBG">
  <div class="mt-5 mb-5 measureTbs">
    <ul class="nav nav-pills" id="pills-tab" role="tablist">
      <li class="nav-item"><a class="nav-link" id="measure-tab" data-toggle="pill" href="#measure" role="tab"
                              aria-controls="measure" aria-selected="true">Measure</a></li>
      <li class="nav-item"><a class="nav-link" id="kPIMaster-tab" data-toggle="pill" href="#kPIMaster" role="tab"
                              aria-controls="kPIMaster" aria-selected="false">KPI Master</a></li>
      <li class="nav-item"><a class="nav-link" id="series-tab" data-toggle="pill" href="#series" role="tab"
                              aria-controls="series" aria-selected="false">Series</a></li>
      <li class="nav-item"><a class="nav-link active" id="performance-tab" data-toggle="pill" href="#performance"
                              role="tab" aria-controls="performance" aria-selected="false">Performance</a></li>
    </ul>
    <div class="tab-content" id="pills-tabContent">

      <!-- ================= Measure Start================ -->

      <div class="tab-pane fade" id="measure" role="tabpanel" aria-labelledby="measure-tab">
        <div class="row">
          <div class="col-md-6">
            <div class="measureTitle_BG mt-5" style="min-height: 150px;">
              <div class="titleBG"> Owner</div>
              <form>
              </form>
            </div>
            <div class="measureTitle_BG mt-5" style="min-height: 150px;">
              <div class="titleBG"> Collaborator</div>
              <form>
              </form>
            </div>
            <div class="measureTitle_BG mt-5" style="min-height: 150px;">
              <div class="titleBG"> Analysis</div>
              <form>
              </form>
            </div>
            <div class="measureTitle_BG mt-5" style="min-height: 150px;">
              <div class="titleBG"> Recommendations</div>
              <form>
              </form>
            </div>
            <div class="measureTitle_BG mt-5">
              <div class="titleBG"> Initiatives</div>
              <div class="row">
                <div class="col-md-3">
                  <div class="initiativesBG"> Initiatives 1</div>
                </div>
                <div class="col-md-3">
                  <div class="initiativesBG"> Initiatives 2</div>
                </div>
                <div class="col-md-3">
                  <div class="initiativesBG"> Initiatives 3</div>
                </div>
                <div class="col-md-3">
                  <div class="initiativesBG"> Initiatives 4</div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="measureTitle_BG mt-5">
              <div class="titleBG"> Objectives</div>
              <div class="bscTable mt-4">
                <table class="table table-striped">
                  <thead>
                  <tr class="bscBg-primary white">
                    <th scope="col">#</th>
                    <th scope="col">Frequency/ Period</th>
                    <th scope="col">Status</th>
                    <th scope="col">Actual</th>
                    <th scope="col">Target</th>
                    <th scope="col">Baseline</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td scope="row">1</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">2</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">3</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">4</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td scope="row">5</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="measureTitle_BG mt-5">
              <div class="titleBG"> Performance</div>
              <div class="mt-4 text-center">
                <h6> Name of the Chart</h6>
                <div class="row">
                  <div class="col-md-1">
                    <h6 style="width: 1px; word-break: break-all;"> Y -Axis Name</h6>
                  </div>
                  <div class="col-md-11" id="chartdiv"></div>
                </div>
                <h6> X -Axis Name</h6>
              </div>
            </div>
            <br/>
            <div class="measureTitle_BG mt-5">
              <div class="titleBG"> Linked Objectives</div>
              <div class="row">
                <div class="col-md-6">
                  <div class="initiativesBG"> Increase Shareholders Value</div>
                </div>
                <div class="col-md-3">
                  <div class="initiativesBG"> Objective</div>
                </div>
                <div class="col-md-3">
                  <div class="initiativesBG"> Objective</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- ================= Measure End================ -->

      <!-- ================= KPI Master Start================ -->

      <div class="tab-pane fade" id="kPIMaster" role="tabpanel" aria-labelledby="kPIMaster-tab">
        <div class="row">

          <!-- ================= Left Said Start================ -->
          <div class="col-md-8">
            <div class="boxs_BG mt-5">
              <div class="titleBG"> KPI Master</div>
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="row mt-4">
                      <div class="col-md-6 pr-0">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit Code <span
                            class="red">*</span></label>
                          <div class="col-sm-7 input_i_icon">
                            <select class="form-control col-form-label-sm">
                              <option>Select Unit Code</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Strategic Measure Code <span
                            class="red">*</span></label>
                          <div class="col-sm-7 input_i_icon">
                            <select class="form-control col-form-label-sm">
                              <option>Select Measure Code</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Parent Strategic Measure
                            Name </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Measure Name</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Descripation </label>
                          <div class="col-sm-7">
                            <textarea class="form-control col-form-label-sm" id="" placeholder="Description"></textarea>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Owner </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Owner</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Data Source </label>
                          <div class="col-sm-7 input_i_icon">
                            <select class="form-control col-form-label-sm">
                              <option>Select Data Source</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Frequency </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Frequency</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Polarity </label>
                          <div class="col-sm-7 input_i_icon">
                            <select class="form-control col-form-label-sm">
                              <option>Select Polarity</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Organization Unit
                            Name </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Organization Unit Name">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Strategic Measure
                            Name </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Strategic Measure Name">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Formula </label>
                          <div class="col-sm-7 pr-0">
                            <textarea class="form-control col-form-label-sm" id="" placeholder="Formula"></textarea>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Collaborator </label>
                          <div class="col-sm-7 pr-0">
                            <select class="form-control col-form-label-sm">
                              <option>Select Collaborator</option>
                              <option>265</option>
                              <option>541</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Data Collector </label>
                          <div class="col-sm-7 input_i_icon pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Data Collector">
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Data Quality </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Data Quality">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Lead/Lag </label>
                          <div class="col-sm-7 input_i_icon pr-0">
                            <select class="form-control col-form-label-sm">
                              <option>Select Lead/Lag</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                            <img src="img/icons/input_i_icon.png" width="12" height="12"/></div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Custom Icon </label>
                          <div class="col-sm-7 pr-0">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="customFileLang" lang="es">
                              <label class="custom-file-label" for="customFileLang">Upload Status Icon...</label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-2 col-form-label col-form-label-sm pr-0 mr-5">Strategy </label>
                          <div class="col-sm-9 p-0">
                            <textarea class="form-control col-form-label-sm" id="" placeholder="Strategy"
                                      style="width: 104%;"></textarea>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-12">
                        <div class="float-right">
                          <button type="button" class="btn btn-cancel"> Cancel</button>
                          <button type="button" class="btn btn-save"> Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
            <div class="boxs_BG mt-5">
              <div class="titleBG"> Link to Objectives</div>
              <div class="linkToObjectivesDiv mt-5">
                <div class="row linkToObjectivesSearch">
                  <div class="col-md-3 linkObjectTitle"> Objective</div>
                  <div class="col-md-6 p-0">
                    <select class="form-control col-form-label-sm">
                      <option>Select</option>
                      <option>2343</option>
                      <option>5464</option>
                    </select>
                  </div>
                  <div class="col-md-3 linkObjectCreateLink"><i class="fa fa-link"></i> Create Link</div>
                </div>
                <div class="row linkToObjectivesFilds mt-5">
                  <div class="col-md-3 pl-0">
                    <div class="measurePinkBoxs">Measure 1</div>
                    <div class="measurePinkBoxs">Measure 2</div>
                  </div>
                  <div class="col-md-9">
                    <div class="row">
                      <div class="col-md-3 offset-md-1">
                        <div class="objectiveBlueBoxs"> Objective 1</div>
                      </div>
                      <div class="col-md-3">
                        <div class="objectiveBlueBoxs"> Objective 2</div>
                      </div>
                      <div class="col-md-3">
                        <div class="objectiveBlueBoxs"> Objective 3</div>
                      </div>
                      <div class="col-md-2 pr-0">
                        <div class="objectivePinkBoxs"><i class="fa fa-pencil"></i> <i class="fa fa-trash-o"></i></div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-3 offset-md-1">
                        <div class="objectiveBlueBoxs"> Objective 1</div>
                      </div>
                      <div class="col-md-3">
                        <div class="objectiveBlueBoxs"> Objective 2</div>
                      </div>
                      <div class="col-md-3">
                        <div class="objectiveBlueBoxs"> Objective 3</div>
                      </div>
                      <div class="col-md-2 pr-0">
                        <div class="objectivePinkBoxs"><i class="fa fa-pencil"></i> <i class="fa fa-trash-o"></i></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- ================= Left Said End================ -->

          <!-- ================= Right Said Start================ -->
          <div class="col-md-4">
            <div class="boxs_BG mt-5">
              <div class="titleBG"> G100: Group Company</div>
              <div class="row mt-4">
                <div class="col-md-12">
                  <div class="perapectivesRightTitle"><span> S1: BSC </span></div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-10 offset-md-2 verticalMenu">
                  <ul class="nav flex-column flex-nowrap">
                    <li class="nav-item">
                      <a class="nav-link" href="#submenu1" data-toggle="collapse" data-target="#submenu1"
                         aria-expanded="true">Financial</a>
                      <div class="collapse show" id="submenu1" aria-expanded="false" style="">
                        <ul class="flex-column pl-3 nav">
                          <li class="nav-item">
                            <a class="nav-link" href="#submenu1sub1" data-toggle="collapse" data-target="#submenu1sub1"
                               aria-expanded="true">Increase Shareholder Value</a>
                            <div class="collapse show" id="submenu1sub1" aria-expanded="false" style="">
                              <ul class="flex-column pl-3 nav">
                                <li class="nav-item">
                                  <a class="nav-link" href="#"> Revenue Growth
                                    <div class="iConsHover"><i class="fa fa-pencil-square-o"></i> <i
                                      class="fa fa-trash"></i></div>
                                  </a>

                                </li>


                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link collapsed" href="#submenu2" data-toggle="collapse" data-target="#submenu2"
                         aria-expanded="false">Customer</a>
                      <div class="collapse" id="submenu2" aria-expanded="false" style="">
                        <ul class="flex-column pl-3 nav">
                          <li class="nav-item">
                            <a class="nav-link" href="#">Price
                              <div class="iConsHover"><i class="fa fa-pencil-square-o"></i> <i class="fa fa-trash"></i>
                              </div>
                            </a>
                          </li>
                        </ul>
                      </div>
                    </li>
                    <li class="nav-item"><a class="nav-link" href="#">Internal Process</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Learning &amp; Growth</a></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <!-- ================= Right Said End================ -->

        </div>
      </div>


      <!-- ================= KPI Master End================ -->

      <!-- ================= Series Start================ -->

      <div class="tab-pane fade" id="series" role="tabpanel" aria-labelledby="series-tab">


        <!-- ================= Series inner Start================ -->
        <div class="row">

          <div class="col-md-12">
            <div class="boxs_BG mt-5">
              <div class="titleBG"> Series</div>


              <div class="row seriesListDiv mt-5">
                <div class="col-md-2 seriesListCheckBox">

                  <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="customCheck1">
                    <label class="custom-control-label" for="customCheck1"></label>
                  </div>

                </div>
                <div class="col-md-8 p-0">
                  <select class="selectpicker" multiple data-live-search="true">
                    <option>Actual</option>
                    <option>Target</option>
                    <option>Budget</option>
                    <option>Variance</option>
                  </select>
                </div>
                <div class="col-md-2 seriesListAction"><i class="fa fa-plus"></i> <i class="fa fa-trash-o"></i></div>
              </div>

            </div>

          </div>

        </div>
        <!-- ================= Series inner End================ -->

        <!-- ================= Create Series Start================ -->
        <div class="row">

          <div class="col-md-12">
            <div class="boxs_BG mt-5 createSeries">
              <div class="titleBG"> Create Series</div>

              <form>
                <div class="row mt-5">
                  <div class="col-md-6">

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-6 col-form-label col-form-label-sm">Name </label>
                      <div class="col-sm-6 pr-0">
                        <input type="text" class="form-control col-form-label-sm" id="" placeholder="Name">
                      </div>
                    </div>

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-6 col-form-label col-form-label-sm">Currency </label>
                      <div class="col-sm-6 pr-0">
                        <select class="form-control col-form-label-sm">
                          <option>Select Currency</option>
                          <option>2000</option>
                          <option>3999</option>
                        </select>

                      </div>
                    </div>


                    <div class="custom-control custom-radio mt-4 ml-3">
                      <input type="radio" class="custom-control-input" id="newProjectWith4Perapectives"
                             name="balancedScorecardRadios" checked>
                      <label class="custom-control-label cursorPointer" for="newProjectWith4Perapectives">Display Series
                        in Summary Reports</label>
                    </div>


                  </div>

                  <div class="col-md-6">

                    <div class="form-group row m-0">
                      <label for="" class="col-sm-6 col-form-label col-form-label-sm">Data Type </label>
                      <div class="col-sm-6 pr-0">
                        <select class="form-control col-form-label-sm">
                          <option>Select Data Type</option>
                          <option>12/08/2019</option>
                          <option>10/08/2019</option>
                        </select>

                      </div>
                    </div>
                    <div class="form-group row m-0">
                      <label for="" class="col-sm-6 col-form-label col-form-label-sm">Frequency </label>
                      <div class="col-sm-6 pr-0">
                        <select class="form-control col-form-label-sm">
                          <option>Select Frequency</option>
                          <option>Frequency 1</option>
                          <option>Frequency 2</option>
                        </select>

                      </div>
                    </div>

                    <div class="custom-control custom-radio mt-4 ml-3">
                      <input type="radio" class="custom-control-input" id="emptyProject" name="balancedScorecardRadios">
                      <label class="custom-control-label cursorPointer" for="emptyProject">Display Series in Data
                        Tables</label>
                    </div>

                  </div>
                </div>
                <div class="row mt-4">
                  <div class="col-md-12">
                    <div class="float-right">
                      <button type="button" class="btn btn-cancel"> Cancel</button>
                      <button type="button" class="btn btn-save"> Save</button>
                    </div>
                  </div>
                </div>
              </form>

            </div>

          </div>

        </div>
        <!-- ================= Create Series End================ -->

        <!-- ================= Calculation Start================ -->

        <div class="row">

          <div class="col-md-12">
            <div class="boxs_BG mt-4">
              <div class="titleBG"> Calculation</div>

              <div class="row mt-5">
                <div class="col-md-8 offset-md-3">
                  <div class="row calculationSearch">
                    <div class="col-md-3 calculationTitle"> Calculation Type</div>
                    <div class="col-md-6 p-0">
                      <select class="form-control col-form-label-sm">
                        <option>Calculated Series</option>
                        <option>Series 1</option>
                        <option>Series 2</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row mt-5 calculationSeries">


                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Series</option>
                    <option>Series 1</option>
                    <option>Series 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Function</option>
                    <option>Function 1</option>
                    <option>Function 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Symbols</option>
                    <option>Symbols 1</option>
                    <option>Symbols 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Aggregation</option>
                    <option>Aggregation 1</option>
                    <option>Aggregation 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0 text-center">
                  Scorecard :
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Scorecard</option>
                    <option>Scorecard 1</option>
                    <option>Scorecard 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0 text-center">
                  Objective :
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Objective</option>
                    <option>Objective 1</option>
                    <option>Objective 2</option>
                  </select>
                </div>
                <div class="col-md-1 p-0 text-center">
                  Measure :
                </div>
                <div class="col-md-1 p-0">
                  <select class="form-control col-form-label-sm">
                    <option>Measure</option>
                    <option>Measure 1</option>
                    <option>Measure 2</option>
                  </select>
                </div>
                <div class="col-md-2 p-0">
                  <div class="text-center btn-skyBlue p-0 cursorPointer"> Insert</div>
                </div>

                <div class="col-md-12">

                  <h6> ( Series,Function,Symbols,Aggregation,Scorecard,Objective,Measure ) + (
                    Series,Function,Symbols,Aggregation,Scorecard,Objective,Measure )</h6>

                </div>


                <div class="col-md-12">
                  <div class="float-right">

                    <button type="button" class="btn btn-save"> Save</button>
                    <button type="button" class="btn btn-cancel"> Cancel</button>
                    <button type="button" class="btn btn-save"> Validate</button>
                  </div>
                </div>

              </div>


            </div>

          </div>

        </div>


        <!-- ================= Calculation End================ -->

        <!-- ================= Series Evaluation Start================ -->

        <div class="row">

          <div class="col-md-12">
            <div class="boxs_BG mt-4">
              <div class="titleBG"> Series Evaluation</div>

              <div class="row mt-4">
                <div class="col-md-8 offset-md-4">
                  <div class="row calculationSearch">
                    <div class="col-md-6 p-0">
                      <select class="form-control col-form-label-sm">
                        <option>Series Evaluation</option>
                        <option>Evaluation 1</option>
                        <option>Evaluation 2</option>
                      </select>
                    </div>

                  </div>
                </div>
              </div>

              <div class="row mt-4 seriesEvaluation">
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="aboveTarget">
                      <label class="custom-control-label" for="aboveTarget"> Above Target</label>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">

                  <select class="form-control col-form-label-sm">
                    <option>>=</option>
                    <option>=</option>
                    <option>+</option>
                    <option>></option>
                    <option><</option>
                    <option>/</option>
                    <option>*</option>
                    <option>-</option>
                    <option>==</option>
                  </select>

                </div>
                <div class="col-md-3">

                  <select class="form-control col-form-label-sm">
                    <option>Target</option>
                    <option>Target 1</option>
                    <option>Target 2</option>
                  </select>

                </div>
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    *60%
                  </div>
                </div>
              </div>


              <div class="row mt-2 seriesEvaluation">
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="cution">
                      <label class="custom-control-label" for="cution"> Cution</label>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">

                  <select class="form-control col-form-label-sm">
                    <option>Range</option>
                    <option>20%</option>
                    <option>14%</option>
                    <option>23%</option>
                  </select>

                </div>
                <div class="col-md-3">

                  <select class="form-control col-form-label-sm">
                    <option>Series</option>
                    <option>Series 1</option>
                    <option>Series 2</option>
                  </select>

                </div>
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    *0.3, 0.9
                  </div>
                </div>
              </div>


              <div class="row mt-2 seriesEvaluation">
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="belowTarget">
                      <label class="custom-control-label" for="belowTarget"> Below Target</label>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    >
                  </div>

                </div>
                <div class="col-md-3">

                  <select class="form-control col-form-label-sm">
                    <option>Series</option>
                    <option>Series 1</option>
                    <option>Series 2</option>
                  </select>

                </div>
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    Calculation
                  </div>
                </div>
              </div>


              <div class="row mt-2 seriesEvaluation">
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" id="noInformation">
                      <label class="custom-control-label" for="noInformation"> No Information</label>
                    </div>
                  </div>

                </div>
                <div class="col-md-3">
                  <div class="seriesEvaluationBG">
                    Any
                  </div>
                </div>

              </div>


            </div>
          </div>
        </div>


        <!-- ================= Series Evaluation End================ -->

      </div>

      <!-- ================= Series End================ -->

      <!-- ================= Performance Start================ -->

      <div class="tab-pane fade show active" id="performance" role="tabpanel" aria-labelledby="performance-tab">
        <div class="row">
          <!-- ================= Left Said Start================ -->
          <div class="col-md-7">
            <div class="boxs_BG mt-5">
              <div class="titleBG"> Performance</div>
              <div class="row">
                <div class="col-md-12">
                  <form>
                    <div class="row mt-4">
                      <div class="col-md-6 pr-0">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Name </label>
                          <div class="col-sm-7 ">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Chart Name">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Title </label>
                          <div class="col-sm-7 ">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Chart Title">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">X-Axis Title </label>
                          <div class="col-sm-7 ">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="X-Axis Title">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Type </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Chart</option>
                              <option>Chart 1</option>
                              <option>Chart 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Sort Chart Series</label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Sort Chart</option>
                              <option>Chart 1</option>
                              <option>Chart 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Size </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Chart Size</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Description </label>
                          <div class="col-sm-7">
                            <textarea class="form-control col-form-label-sm" id=""
                                      placeholder="Chart Description"></textarea>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Reporting Frequency </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Frequency</option>
                              <option>Frequency 1</option>
                              <option>Frequency 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Period to Display </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Period</option>
                              <option>Period 1</option>
                              <option>Period 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Market </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Market</option>
                              <option>Market 1</option>
                              <option>Market 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Custom Chart Formates </label>
                          <div class="col-sm-7">
                            <select class="form-control col-form-label-sm">
                              <option>Select Custom Chart Formates</option>
                              <option>2343</option>
                              <option>5464</option>
                            </select>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6 ">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Show Future Periods </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Show Future Periods">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Y-Axis Title </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Y-Axis Title">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Y-Axis Min Value </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Y-Axis Min Value">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Y-Axis Max Value </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Y-Axis Max Value">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Y-Axis Formate </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Y-Axis Formate">
                          </div>
                        </div>

                        <div class="form-group row mt-3 bscCustomSwitch">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm"> </label>
                          <div class="col-sm-7 pr-0 custom-controls-stacked d-block">
                            <div class="custom-control custom-switch">
                              <input type="checkbox" class="custom-control-input" id="switch1">
                              <label class="custom-control-label" for="switch1">Reverse Y-Axis</label>
                            </div>
                          </div>
                        </div>

                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Chart Series </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="Chart Series">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Shape </label>
                          <div class="col-sm-7 pr-0">
                            <select class="form-control col-form-label-sm">
                              <option>Select Shape</option>
                              <option>Shape 1</option>
                              <option>Shape 2</option>
                            </select>
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">No. of Periods </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="No. of Periods">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm">Datalable Style </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id=""
                                   placeholder="Datalable Style">
                          </div>
                        </div>


                      </div>
                    </div>
                    <br/>
                    <div class="row">
                      <div class="col-md-6 pr-0">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Additianal Fields </label>
                          <div class="col-sm-7 ">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                          </div>
                        </div>

                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Additianal Fields </label>
                          <div class="col-sm-7 ">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                          </div>
                        </div>

                      </div>
                      <div class="col-md-6">
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Additianal Fields </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                          </div>
                        </div>
                        <div class="form-group row m-0">
                          <label for="" class="col-sm-5 col-form-label col-form-label-sm red">Additianal Fields </label>
                          <div class="col-sm-7 pr-0">
                            <input type="text" class="form-control col-form-label-sm" id="" placeholder="">
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-4">
                      <div class="col-md-12">
                        <div class="float-right">
                          <button type="button" class="btn btn-cancel"> Cancel</button>
                          <button type="button" class="btn btn-save"> Save</button>
                        </div>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>

          </div>
          <!-- ================= Left Said End================ -->

          <!-- ================= Right Said Start================ -->
          <div class="col-md-5">
            <div class="boxs_BG mt-5">
              <div class="titleBG"> Chart</div>

              <div class="mt-4 text-center">
                <h6> Name of the Chart</h6>
                <div class="row">
                  <div class="col-md-1">
                    <h6 style="width: 1px; word-break: break-all;"> Y -Axis</h6>
                  </div>
                  <div class="col-md-11" id="chartdiv2" style="height: 290px;"></div>
                </div>
                <h6> X -Axis</h6>
              </div>

            </div>
          </div>
          <!-- ================= Right Said End================ -->
        </div>


      </div>

      <!-- ================= Performance End================ -->

    </div>
  </div>
</div>
